.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Màu đen với opacity 0.5 */
    z-index: 99;
    /* Đảm bảo nằm dưới sidebar (999) */
    display: block;
}

header {
    background-color: #fff;
    padding: 0 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.3s ease-in-out;
    height: 100px;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #ecf0f1;
}

.logo img {
    width: 180px;
    height: 90px;
}

nav {
    display: flex;
}

nav div {
    display: none;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 1rem;
}

nav a {
    text-decoration: none;
    color: #1F409A;
    font-weight: bold;
    font-size: 1rem;
    transition: color 0.3s;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
    transition: all .5s;
}

nav ul li a {
    position: relative;
}

nav ul li a:after {
    position: absolute;
    top: 140%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #000;
    height: 1.5px;
}

nav ul li a:hover:after {
    width: 100%;
}

.mobile-menu-icon {
    display: none;
    cursor: pointer;
}

@media screen and (max-width: 1024px) {

    nav.nav-tablet {
        display: none;
    }

    nav {
        flex-direction: column;
        position: absolute;
        transform: translateX(-100%);
        transition: all 0.5s linear;
        z-index: 10;
        top: 0;
        left: 0;
        width: 75%;
        height: 100vh;
        background-color: #fff;
    }

    nav.show {
        transform: translateX(0);
        color: #1F409A;
        background: #5c7acc;
        z-index: 100;
        box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3);
    }

    nav div {
        border-bottom: 1px solid #ccc;
        width: 100%;
        padding: 10px 20px;
        display: flex;
        justify-content: flex-end;
    }

    nav div svg {
        font-size: 25px;
        color: #fff;
    }

    nav ul {
        flex-direction: column;
        padding: 20px 40px;
    }

    nav li {
        margin: 0.5rem 0;
        margin-top: 20px;
    }

    nav li a {
        color: #fff;
        font-size: 20px;
        font-weight: 500;

    }

    nav li:hover {
        transform: translateX(10px);
        transition: all 0.5s linear;
    }

    .mobile-menu-icon {
        display: block;
    }
}